@import "variables";
@import "mixins";
@import "base";

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    margin: 0 0 30px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    cursor: pointer;
    font-size: $typographic-base-font-size * 1.7;
    font-weight: 200;
    margin-right: 20px;

    &--selected {
      font-size: $typographic-base-font-size * 2;
      color: rgb(255, 145, 27);
      font-weight: 400;
      padding-bottom: 20px;
      border-bottom: 1px solid rgb(255, 145, 27);
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
