@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/base";

.description-component {
  margin-top: 35px;
  text-align: left;
  font-family: $typographic-font-family;
}

.description-component-text {
  font-weight: 300;
}

.description-component-text-optional {
  color: #818a91;
  font-style: italic;

  &::before {
    content: "- (";
    margin-left: 5px;
  }

  &::after {
    content: ")";
  }
}

.description-component-text-event {
  color: $color-secondary;
}

.top-margin {
  margin-top: 0px !important;
}
